* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: aqua;
}
a:hover{
  color: azure;
}

.footer-content {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: linear-gradient(370deg, black, rgb(105, 0, 128), black);
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}


.footer-content h2{
  color: #D8B6E3;
  text-shadow: red 0 0 8px;
}
.contact div{
margin-right: 8px;
}
.contact i{
  color: #D8B6E3;
  padding-top: 8px;
}
.footer-content .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  padding: 10px;
  max-width: 300px; /* Limit width to prevent icons from spreading too far apart */
  border-radius: 15px; /* Rounded edges for a softer look */
}


.footer-content .icon-box {
  width: 50px;
  height: 50px;
  background-color: #D8B6E3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}


/* Specific color styling for each icon */
#whatsappShare i {
  color: #06ab43; /* WhatsApp green */
  font-weight: bold;
}

#facebookShare i {
  color: #1877F2; /* Facebook blue */
  font-weight: bold;
}

#telegramShare i {
  color: #0088CC; /* Telegram blue */
  font-weight: bold;
}

#vk i {
  color: #4C75A3; /* VK blue */
  font-weight: bold;
}

#twitter i {
  color: #1DA1F2; /* Twitter blue */
  font-weight: bold;
}

#linkedIN i {
  color: #0077B5; /* LinkedIn blue */
  font-weight: bold;
}

.footer-content .icon-box:hover {
  background-color: #05ffde;
  transform: scale(1.1);
}

.footer-content .icon-box i {
  font-size: 1.5em;
  color: #fff;
}

.footer-content .contact {
  margin-top: 15px;
  font-size: 1em;
}

.footer-content .contact div {
  margin-bottom: 10px;
}


.footer-content p {
  margin: 20px;
  font-size: 0.85em;
  color: #bbb;
}



