* {
  box-sizing: border-box;
}

/* MAIN FOOTER */
.footer-content {
  width: 100%;
  background: linear-gradient(135deg, #120916 0%, #3a0f3c 60%, #120916 100%);
  border-top: 1px solid rgba(255,255,255,0.08);
  padding: 40px 20px;
}

.footer-section {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

/* TITLE */

.footer-section h2 {
  font-size: 26px;
  margin-bottom: 25px;
  color: #f7cadc;
}

/* CONTACT ROW */

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px 28px;
  margin-bottom: 25px;
}

.contact div {
  display: flex;
}

.contact a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #9efcff;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}

.contact a:hover {
  color: white;
}

.contact i {
  color: #f7cadc;
}

/* PROJECT LINKS */

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 18px;
}

.footer-links a {
  color: #9efcff;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.footer-links a:hover {
  color: white;
}

/* COPYRIGHT */

.footer-section p {
  color: rgba(255,255,255,0.65);
  font-size: 14px;
}

/* ---------------------- */
/* RESPONSIVE */
/* ---------------------- */

@media (max-width: 768px) {

  .contact {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

}
