.global-header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Mobile and Desktop Headers */
.headerMobile {
  display: none; /* Hide by default for desktop */
}


.header {
  width: 100%;
  height: 10vh;
  background: linear-gradient(370deg, black, rgb(105, 0, 128), black);
  padding: 1rem;
  display: flex;
  justify-content: start;
}

.header ul {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  list-style-type: none;
}

.header a {
    color: aqua;
  text-decoration: none;
  font-size: 1.2rem;
}

.header a:hover{
  color: azure;
  font-size: 1.25rem;
}

/* Responsive Styles for Mobile Header */
.menu-button,
.close-button {
  font-size: 2rem;
  color: aqua;
  background: none;
  border: none;
}

.menu {
  display: none;
}

.menu-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
  background: linear-gradient(370deg, black, rgb(105, 0, 128), black);
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.menu-active li{
  margin: 1.2rem;
}

.menu-active .close-button{
  position: absolute;
  top: 64px;
  right: 64px;
  font-size: 3rem;
}
.menu ul {
  list-style-type: none;
}

.menu a {
  color: white;
  font-size: 3rem;
  margin: 1rem;
  text-decoration: none;
}

/* Media Query: Mobile */
@media (max-width: 768px) {
  .header {
    display: none; /* Hide desktop header */
  }
  .headerMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(370deg, black, rgb(105, 0, 128), black);
  }

  .intro h1 {
    font-size: 1.5rem;
  }
  .intro h2 {
    font-size: 1.2rem;
  }
  .intro p {
    font-size: 1rem;
  }
}