/* General reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Media Query: Mobile */
@media (max-width: 768px) {
  .intro h1 {
    font-size: 1.5rem;
  }

  .intro h2 {
    font-size: 1.2rem;
  }

  .intro p {
    font-size: 1rem;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
/* Desktop Intro Section */
.intro {
  height: 100vh;
  text-align: center;
  padding: 5rem 2rem;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(120deg, #ff6b6b, #f7b42c, #42a5f5, #1e88e5);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

.intro h1,
.intro h2,
.intro p {
  margin-bottom: 1rem;
  opacity: 0;
}

.intro h1 {
  animation: fadeIn 1.2s ease-in-out forwards;
  animation-delay: 0.3s;
}

.intro h2 {
  margin-top: 20px;
  color: rgb(105, 0, 128);
  animation: fadeIn 2s ease-in-out 1s forwards;
}

.intro p {

  font-size: 18px;
  line-height: 1.5;
  color: black;
  font-weight: bold;
  animation: fadeIn 2.5s ease-in-out 1.5s forwards;
}

.highlight {
  color: tomato;
  font-weight: bolder;
  animation: slideIn 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.highlightFullDev {
  color: azure;
  font-weight: bolder;
}

.highlightFrontend {
  color: #009405;
  font-weight: bolder;
}

.highlightBackend {
  color: blue;
  font-weight: bolder;
}