/* src/components/IconsList.css */

.icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align icons horizontally */
  gap: 10px; /* Spacing between icons */
  opacity: 0;
  padding-top: 5rem;
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 0.5s; /* Adding a slight delay to the start */
  
}

/* Animation keyframes */
@keyframes slideIn {
  0% { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Media Queries for responsive design */

/* For screens up to 480px (mobile devices) */
@media (max-width: 480px) {
  .icons-list{
    padding-top: 1rem;
    
  }
  .icon-container {
    flex: 1 1 calc(50% - 10px); /* Two items per row */
    max-width: calc(50% - 10px); /* Adjusted width for spacing */
    margin: 5px 0; /* Adjust margin for smaller screens */
  }

  .icon-fontawesome {
    width: 60px;
    height: 60px;
  }

  .icon-description {
    font-size: 0.8rem;
  }
}

/* For screens up to 768px (tablets) */
@media (max-width: 768px) {
  .icons-list{
    margin-top: 20%;
  }
  .icon-container {
    flex: 1 1 calc(50% - 10px); /* Two items per row */
    max-width: calc(50% - 10px); /* Adjusted width for spacing */
    margin: 10px 0; /* Adjust margin for tablets */
  }

  .icon-fontawesome {
    width: 70px;
    height: 70px;
  }

  .icon-description {
    font-size: 0.85rem;
  }
}

/* For screens wider than 1024px (large devices) */
@media (min-width: 1024px) {
  .icon-container {
    flex: 1 1 calc(25% - 20px); /* Four columns on large devices */
    max-width: calc(25% - 20px); /* Adjusted width for spacing */
    
  }

  .icon-fontawesome {
    width: 80px;
    height: 80px;
  }

  .icon-description {
    font-size: 0.9rem;
    
  }
}
